@font-face {
    font-family: 'Roboto';
    src: url("fonts/Roboto-Black.ttf");
}
@font-face {
    font-family: 'Roboto Regular';
    src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: 'Roboto Bold';
    src: url("fonts/Roboto-Bold.ttf");
}

:root {
    --white-color: #FFFFFF;
    --blue-primary-color: #152535;
    --blue-secondary-color: #294256;
    --yellow-color: #FAA61A;
    --pink-color: #FBBBD0;

    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.bg-blue-primary {
    background-color: var(--blue-primary-color);
}

.bg-blue-secondary {
    background-color: var(--blue-secondary-color);
}

.opaity-80 {
    opacity: .8;
}

.bg-white {
    background-color: var(--white-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.bg-pink {
    background-color: var(--pink-color);
}

.text-blue-primary {
    color: var(--blue-primary-color);
}

.text-color-white {
    color: var(--white-color);
}

.fz-14 {
    font-size: 14px;
}
.fz-15 {
    font-size: 15px;
}
.fz-20 {
    font-size: 20px;
}
.fz-25 {
    font-size: 25px;
}

.underline-hover::after {
    content: '';
    height: 2px;
    width: 0;
    background-image: linear-gradient(to right top, yellow, red);
    display: block;
    transition: 300ms all;
}
    .underline-hover:hover::after {
        width: 100%;
    }

/* header */

#header {
    width: 100%;
    height: 824px;
    background-image: url('img/Mask\ Group\ 29.png');
    background-size: 100% 100%;
}

#navbar {
    border-radius: 100px;
    padding: .5rem 2.5rem;
}

#navmenu li.nav-item {
    margin: 0 1.2rem;
}

#social li {
    margin: 0 .5em;
}

.image img {
    width: 110%;
}

#navmenu a {
    color: var(--white-color);
}
    #navmenu a:hover {
        color: var(--yellow-color);
    }

button.btn-update {
    color: var(--white-color);
    border-color: var(--white-color);
    text-transform: uppercase;
    font-weight: bold;
}
    button.btn-update:hover {
        background-color: var(--yellow-color);
        border-color: var(--white-color);
        color: var(--blue-secondary-color);
    }
    
.logo {
    width: 120px;
    z-index: 1500;
    background: transparent 0% 0% no-repeat padding-box;
}

.offcanvas-backdrop.show {
    opacity: .0;
}

.offcanvas.offcanvas-end {
    border: 0;
    width: 100%;
}

.btn-close {
    width: 2em;
    font-size: 30px;
    opacity: 1;
}

.navbar-toggler {
    border: 0;
}

.w-90 {
    width: 95%;
    padding-left: 2.1rem;
    font-family: 'Roboto';
    font-size: 24px;
}

.w-90 span {
    font-size: 10px;
}

/* breackpoints header */

@media (max-width: 1400px) {
    #navmenu li.nav-item {
        margin: 0 3px;
    }
    
    #social li {
        margin: 0 3px;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 20px;
    }
    
    #navbar {
        padding: .5rem 1rem;
    }
    
    #navbar .logo img {
        width: 150px;
    }
    
    a.nav-link {
        font-size: 10px;
    }

    button.btn-update {
        font-size: 10px;
    }

    #social li {
        font-size: 0;
    }

    .image img {
        width: 100%;
    }

    .w-90 {
        width: 100%;
        padding-left: 1.2rem;
    }

    img.w-50 {
        width: 85%!important;
    }

}

span.navbar-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .65rem;
}
    span.navbar-icon > div {
        background: var(--white-color);
        height: 2px;
        width: 100%;
        border-radius: 5px;
        transition: all .5s;
        transform-origin: left;
    }

    span.navbar-icon div:nth-child(2) {
        width: 70%;
    }
        span.navbar-icon:hover div:first-child {
            transform: rotate(45deg);
        }
        span.navbar-icon:hover div:nth-child(2) {
            opacity: 0;
        }
        span.navbar-icon:hover div:last-child {
            transform: rotate(-45deg);
        }

@media (max-width: 576px) {
    p {
        font-size: 15px;
    }
    #header {
        height: 50vh;
    }

    #navbar {
        border-radius: 0;
    }

    #navmenu li.nav-item {
        padding-top: .8rem;
    }

    a.nav-link, button.btn-update {
        font-size: 20px;
    }
    
    #social li {
        padding-top: .5rem;
        margin: 0 .8rem;
    }

    .image img {
        max-height: 150px;
    }

    img.w-50 {
        width: 95%!important;
    }
    
}

/* services */
.services {
    /* padding: 0 auto; */
    /* margin: 0 auto; */
    align-items: center;
    text-align: center;
}
.card {
    width: 284px;
    height: 294px;
    align-content: center;
    background-color: var(--blue-primary-color);
    color: var(--white-color);
}

    .card .image-header {
        width: 30%;
        height: 80px;
    }

    .card p {
        margin-top: 2rem;
        margin-bottom: 0;
        font-size: 14px;
        text-transform: uppercase;
    }
    .card h3 {
        height: 60px;
        width: 200px;
        margin-bottom: 2rem;
        font-weight: bold;
        font-size: 23px;
        text-transform: uppercase;
    }

.arrow {
    width: 20%;
}
    .arrow:hover {
        right: 0;
        position: relative;
        animation: arrow .4s alternate infinite;
    }
    @keyframes arrow {
        to {
            right: 10px;
        }
    }

.action {
    margin-top: 4rem;
    padding: 1rem;
    color: var(--blue-primary-color);
}

    .action h3 {
        font-family: 'Roboto Bold';
        font-weight: 900;
        text-transform: uppercase;
    }

    .action p {
        font-size: 16px;
        font-weight: 600;
        color: var(--blue-secondary-color);
    }

    .action button {
        padding: 1rem 2rem;
        margin-top: 1rem;
        font-size: 16px;
        font-weight: bold;
        background-color: var(--yellow-color);
        color: var(--blue-secondary-color);
    }
    
.reference {
    margin: 4rem 0;
    font-family: 'Roboto Bold';
    color: var(--blue-primary-color);
}
    .reference ol {
        padding-left: 1rem;
    }
    .reference p {
        font-family: 'Roboto';
        font-weight: 600;
    }

@media (min-width: 576px) {
    .services {
        flex-wrap: wrap;
        padding-left: 2rem;
    }
}

/* footer */
footer {
    height: 278px;
    width: 100%;
}

    footer .container {
        height: 278px;
    }
    footer .footer-container {
        height: 100%;
    }

    footer .logo-img {
        width: 34%;
    }

@media (max-width: 768px) {
    
}
@media (max-width: 576px) {
    footer {
        height: 480px;
        /* width: 100%; */
    }
    footer .logo-img {
        width: 60%;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    footer p {
        text-align: left;
    }
}